@charset "UTF-8";
 
/* Modo de impressora */

    @media print {
         main section#print{
        display: block;
        
    }
    main section#redes{
        display: none;
    }

    div#printredes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-around;
        align-items: baseline;
    }

    #print h1{
        font-size: 36px;
        padding: 29px;
        text-align: center;
        margin:10px 10px ;
    }
    
    .divredes{
        display: flex;
    }

    .divredes img{
        margin-bottom: 35px;
        margin-right: 20px;
    }
    #print img{
        z-index: 9999;
        position: relative;
        width: 50px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.435);
        box-sizing: border-box;
    }
}

   /* Modelo para tablet */
   @media screen and (min-width:481px) and (max-width:767px) {
    section#redes img{
        width:58px;
    }
    section#telefone{
        height: 500px;
        width: 250px;
        background-size: cover;
    }
    iframe#tela {
        position: relative;
        top: 65px;
        left: 17px;
        width: 215px;
        height: 380px;
    }
}

   @media screen and (min-width:768px) and (max-width:1024px) {
    section#redes img {
        width: 65px;
    }
    section#telefone{
        height: 605px;
        width: 300px;
        background-size: cover;
    }
    iframe#tela{
        top: 79px;
        left: 22px;
        width: 258px;
        height: 453px;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    section#redes img {
        width: 70px;
    }
    iframe#tela {
        position: relative;
        top: 80px;
        left: 22px;
        width: 266px;
        height: 473px;
    }
    section#telefone{
        width: 310px;
        height: 619px;
        background-size: cover;
    }
}

@media screen and (min-width:1201px) {
    section#redes img {
        width: 80px;
    }
    iframe#tela {
        position: relative;
        top: 87px;
        left: 23px;
        width: 288px;
        height:  512px;
    }
    section#telefone{
        width: 334px;
        height: 678px;
        background-size: cover;
    }
}