@charset "UTF-8";
 
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

html body{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;

    background: url("../img/fundo-madeira.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    
    background-color: blue;
    width: 311px;
    height: 627px;
    background: url("../img/frame-iphone.png") no-repeat;
   margin: 0px;
   padding: 0px;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes{
   text-align: right;
}

section#redes img{
    z-index: 9999;
    position: relative;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.435);
    box-sizing: border-box;
}

section#redes img:hover{
    border: 2px solid  rgba(255, 255, 255, 0.256);
}
